In [1]:
import pandas as pd
df=pd.read_csv(r"C:\Users\Dell\Desktop\D.S Assignments\Hypothesis testing\Book1.csv")
df

       Satisfaction  Smart Thermostat  Smart Light  Total
0    Very Satisfied                50           70    120
1         Satisfied                80          100    180
2           Neutral                60           90    150
3       UnSatisfied                30           50     80
4  Very UnSatisfied                20           50     70
5             Total               240          360    600

In [17]:
df.columns

Index(['Satisfaction', 'Smart Thermostat', 'Smart Light', 'Total'], dtype='object')

In [27]:
dataset=pd.crosstab(df['Smart Thermostat'], df['Smart Light'],margins=True)
dataset

Smart Light       50  70  90  100  360  All
Smart Thermostat
20                 1   0   0    0    0    1
30                 1   0   0    0    0    1
50                 0   1   0    0    0    1
60                 0   0   1    0    0    1
80                 0   0   0    1    0    1
240                0   0   0    0    1    1
All                2   1   1    1    1    6

In [29]:
dataset1=pd.crosstab(df['Smart Thermostat'], df['Smart Light'],margins=True)
observed_value=dataset1.values
observed_value

array([[1, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 1],
       [0, 1, 0, 0, 0, 1],
       [0, 0, 1, 0, 0, 1],
       [0, 0, 0, 1, 0, 1],
       [0, 0, 0, 0, 1, 1],
       [2, 1, 1, 1, 1, 6]], dtype=int64)

In [31]:
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import chi2_contingency
import scipy.stats as stats
import seaborn as sns

In [33]:
val=stats.chi2_contingency(dataset1)
val

Chi2ContingencyResult(statistic=24.000000000000007, pvalue=0.7720245323035444, dof=30, expected_freq=array([[0.33333333, 0.16666667, 0.16666667, 0.16666667, 0.16666667,
        1.        ],
       [0.33333333, 0.16666667, 0.16666667, 0.16666667, 0.16666667,
        1.        ],
       [0.33333333, 0.16666667, 0.16666667, 0.16666667, 0.16666667,
        1.        ],
       [0.33333333, 0.16666667, 0.16666667, 0.16666667, 0.16666667,
        1.        ],
       [0.33333333, 0.16666667, 0.16666667, 0.16666667, 0.16666667,
        1.        ],
       [0.33333333, 0.16666667, 0.16666667, 0.16666667, 0.16666667,
        1.        ],
       [2.        , 1.        , 1.        , 1.        , 1.        ,
        6.        ]]))

In [37]:
expected_value=val[3]
expected_value

array([[0.33333333, 0.16666667, 0.16666667, 0.16666667, 0.16666667,
        1.        ],
       [0.33333333, 0.16666667, 0.16666667, 0.16666667, 0.16666667,
        1.        ],
       [0.33333333, 0.16666667, 0.16666667, 0.16666667, 0.16666667,
        1.        ],
       [0.33333333, 0.16666667, 0.16666667, 0.16666667, 0.16666667,
        1.        ],
       [0.33333333, 0.16666667, 0.16666667, 0.16666667, 0.16666667,
        1.        ],
       [0.33333333, 0.16666667, 0.16666667, 0.16666667, 0.16666667,
        1.        ],
       [2.        , 1.        , 1.        , 1.        , 1.        ,
        6.        ]])

In [41]:
no_of_rows=len(dataset1.iloc[0:2,0])
no_of_columns=len(dataset.iloc[0,0:2])

In [45]:
#degree of freedom
ddof=(no_of_rows-1)*(no_of_columns-1)
alpha=0.05

In [47]:
from scipy.stats import chi2
chi_square=sum([(o-e)**2./e for o,e in zip(observed_value,expected_value)])

In [49]:
chi_square_statistic=chi_square[0]+chi_square[1]
chi_square_statistic

9.000000000000004

In [51]:
critical_value=chi2.ppf(1-alpha,df=ddof)
critical_value

3.841458820694124

In [53]:
if chi_square_statistic>=critical_value:
    print("Reject Ho(Null hypothesis),there is relationship between two numerical variable")
else :
    print("Retain Ho(Null hypothesis),there is no relationship between two numerical variable")

Reject Ho(Null hypothesis),there is relationship between two numerical variable

In [55]:
p_value=1-chi2.cdf(x=chi_square_statistic,df=ddof)
p_value

0.002699796063260207

In [57]:
if p_value<=alpha:
    print("Reject Ho(Null hypothesis),there is relationship between two numerical variable")
else :
    print("Retain Ho(Null hypothesis),there is no relationship between two numerical variable")

Reject Ho(Null hypothesis),there is relationship between two numerical variable